*{
    box-sizing: border-box;
}
/* Start nav */
.btn-both1{
    display: none;
}
.navbar-collapse{
    width: 100%;
    display: flex ;
    justify-content: flex-end;
    background-color: transparent;
}
.navbar-toggler{
    background-color: black !important;
    border-radius: 20px !important;
}
.btn-dark ,.btn-light{
    border-radius: 30px !important;
    margin-right: 15px;
}
.btn-light{
    border: 1px solid black !important;
}
.nav-item{
    margin-right: 20px;
}
nav {
    margin-bottom: 100px;
}
@media (max-width: 800px) {
    .navbar-collapse{
        justify-content: space-between;
    }
    .btn-both1{
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 990px) {
    .btn-both0{
        display: none;
    }
    .btn-both1{
        display: block;
    }
    
}
/* End nav */
/* Start Section-1 Home  */
.Home {
    width: 100%;
    transform: translateX(-50% -50%);
    
    position: relative;
}
.Home h1{
    font-size: 96px;
    font-weight: 700;
}
.Home p{
    font-size: 16px;
}
.Home .Cowork {
    position: relative;
}
.Home .left img{
    position: absolute;
    z-index: -1;
    top: -20px;
    left: 0;
}
.Home .right img{
    position: relative;
    right: 0;
}
.Home .left .btn-dark{
    margin-top: 30px;

}



@media (max-width: 1200px) {
    .Home p{
        font-size: 16px;
    }
    .Home .left img{
        top: -10px;
        left: 0px;
    }
    .Home .right img{
        margin-top: 50px;
    }
}
@media (max-width: 800px) {
    .Home{
        text-align: center;

    }
    .Home h1{
        font-size: 48px;
        font-weight: 700;
    }
    .Home p{
        font-size: 16px;
    }
    .Home .left img{
        width: 150px;
        top: 0;
        left: 150px;
    }
    .Home .right img{
        margin-top: 50px;
        width: 400px;
        
    }
}
/* End Section-1 Home  */
 /* Start Section-2 Social Proof */
.content {
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
}
 /* End Section-2 Social Proof */
 /* Start Section-3 Features */
 section:nth-of-type(3) {
     margin-top: 150px;
     text-align: center;
    }
section:nth-of-type(3) .Frame-63{
    width: 100%;
    font-size: 48px;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow: hidden;
    
}
section:nth-of-type(3) .Frame-63 img,
section:nth-of-type(3) .Frame-63 h1{
    display: inline;
    width: fit-content;
}
section:nth-of-type(3) .Frame-63 img{
    width: 180px;
    margin: 0;
}
section:nth-of-type(3) .row {
    margin-top: 50px;
    position: relative;
}
section:nth-of-type(3) .row .col{
    position: relative;
}
section:nth-of-type(3) .row h3 {
    font-size: 24px;
    margin: 40px 0;
    font-weight: bold;
}
.circle-color::before{
    content: "";
    width: 36px;
    height: 36px;
    background-color: #D3F985;
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 50%;
}

section:nth-of-type(3) .row .col:nth-of-type(1) .circle-color::before{
    background-color: #D3F985;
}
section:nth-of-type(3) .row .col:nth-of-type(2) .circle-color::before{
    background-color: #A6E8F6;
}
section:nth-of-type(3) .row .col:nth-of-type(3) .circle-color::before{
    background-color: #FCBEDC;
}

 /* End Section-3 Features */
 /* Start Section-4 Virtual Tour */
 section:nth-of-type(4){
    text-align: center;
    width: 100%;
 }
 section:nth-of-type(4) .hh img,
 section:nth-of-type(4) .hh h1{
     display: inline;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 section:nth-of-type(4) button{
     margin: 20px;
 }
 /* End Section-4 Virtual Tour */
 /* Start Footer */
 footer{
     margin-bottom: 50px;
     width: 100%;
     background-color: black;
     border-radius: 15px;
 }
 footer .link h4,
 footer p{
    color: #fff;
    font-size: 17px;
 }
 footer p {
     margin-top: 5px;
     margin-bottom: 5px;
 }
 footer .link a{
    color: darkgrey;
    font-size: 12px;
 }
 
 /* End Footer */